.hero-section {
    /* background: linear-gradient(145deg, #96e6a1); */
    background: #a3dcfd;
    padding-top: 100px;
    color: #121212;
    overflow: hidden;
    text-align: center;
}

.hero-section .hero-img {
    max-width: 500px;
    filter: drop-shadow(0 0 40px rgba(54, 209, 220, 0.8));
    border-radius: 20px;
    display: block;
    margin: 20px auto 0;
}