.hero-section {
    margin-top: 60px;
    /* Adjust if you have fixed navbar */
}

.hero-img {
    height: 350px;
    /* You can reduce/increase this */
    object-fit: cover;
    border-radius: 12px;
}